* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #efefef;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.menu {
  position: absolute;
}

.home {
  position: relative;
  padding-left: 20vw;
  display: flex;
  background-image: url("/top-bg.ffd30db2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.home img {
  position: absolute;
  transform: translate(1050px, -50px);
}

.home__greetings {
  transform: translateY(-4vw);
}

.home__w1 {
  font-size: 4rem;
}

.home__w2 {
  font-size: 2rem;
  color: #dd0000;
}

.home__w3 {
  font-size: 2rem;
  color: #ffce00;
  margin-bottom: 1vh;
}

.home__button {
  box-sizing: border-box;
  border: none;
  font-weight: 500;
  font-size: 20px;
  width: 12rem;
  height: 3rem;
  background: #e4d3ff;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  cursor: pointer;
}

.choose {
  padding: 3vh;
  display: none;
  background-image: url("/main-bg.42461b3b.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.choose h1 {
  padding: 4vh 0;
}

.choose__container {
  height: 100vh;
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

.choose__table {
  padding: 0 1vmax 2vmax 1.5vmax;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vw;
  width: 16vw;
  background-color: #fff;
  box-shadow: 7px 8px 17px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.choose__table--translate {
  transform: translateY(3em);
}

.choose__logo {
  height: 5vw;
  margin-top: 1vmin;
}

.choose__tittle {
  color: #bc5050;
}

.choose__button {
  font-size: 1.2em;
  border: none;
  width: 10vmax;
  height: 2vmax;
  background: #c7efef;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  cursor: pointer;
}

.learning {
  display: none;
  grid-template-columns: 1fr 1fr;
  background-image: url("/learning-bg.51a59a1d.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.learning__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.learning__left img {
  height: 50%;
}

.learning__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}

.learning__answer {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none !important;
  justify-content: center;
  display: flex;
  padding: 2.5vmin;
  position: relative;
  border: none;
  background-color: #b3adad;
  width: 50vmin;
  height: 9vmin;
  border-radius: 5px;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.25);
}

.learning__answer--title {
  color: #686868;
  font-size: 1.5rem;
  font-weight: 600;
}

.learning__input--after:after {
  position: absolute;
  transform: translate(2.5vmin, -2vh);
  height: 1px;
  width: 45vmin;
  background-color: white;
  content: "";
}

.is-flipped {
  transform: rotateY(180deg);
}

.learning__flashcard {
  color: whitesmoke;
  font-size: 2em;
  font-weight: bold;
  position: relative;
  height: 30vmin;
  width: 50vmin;
  margin-bottom: 2vh;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flashcard--front {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(233.38deg, #548bda 21.06%, #45e0e0 91.63%);
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 2vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.flashcard--back {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  background: linear-gradient(233.38deg, #bf54da 21.06%, #e0454d 91.63%);
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 2vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.flashcard__buttons {
  width: 50vmin;
  display: flex;
  justify-content: space-between;
  margin: 1em 0 1em 0;
}

.flashcard__button {
  height: 4vh;
  padding: 0 1em 0 1em;
  width: auto;
  font-weight: 500;
  font-size: 1em;
  background: #c7efef;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .home {
    background-image: url("/top-bg-1500.b9dd26f5.svg");
  }
}
@media screen and (max-width: 1300px) {
  .choose__container p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1050px) {
  .home {
    background-image: url("/top-bg-1000.6f247321.svg");
    align-items: center;
    padding: 0;
  }

  .home__w1 {
    font-size: 6rem;
  }

  .home__w2 {
    font-size: 3rem;
  }

  .home__w3 {
    font-size: 3rem;
  }

  html {
    font-size: 12px;
  }

  .learning__left {
    display: none;
  }

  .learning {
    justify-content: center;
  }

  .learning__right {
    width: 97vw;
  }

  .learning__answer {
    font-size: 2rem;
  }

  .flashcard__buttons {
    flex-direction: column;
    width: 30vmin;
  }

  .flashcard__button {
    margin: 0.7vmin 0;
  }

  .choose__button {
    width: 11vmax;
    height: 3vmax;
  }
}
@media screen and (max-width: 900px) {
  .choose {
    height: auto;
  }
  .choose p {
    font-size: 1.3rem;
  }

  .choose__container {
    align-items: center;
    height: auto;
    flex-direction: column;
  }

  .choose__table {
    padding-top: 2vmax;
    height: 26vh;
    width: 50vw;
    margin: 1vh;
  }

  .choose__table--translate {
    transform: translate(0);
  }

  .choose__logo {
    display: none;
  }

  .learning__flashcard {
    width: 70vmin;
    height: 40vmin;
  }

  .learning__answer {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .learning__answer {
    width: 60vmin;
    height: 12vmin;
  }

  .learning__input--after:after {
    width: 55vmin;
  }
}

/*# sourceMappingURL=/style.ff1c4cab.css.map */