.home {
  position: relative;
  padding-left: 20vw;
  display: flex;
  background-image: url("../assets/top-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  img {
    // height: 250px;
    position: absolute;
    transform: translate(1050px, -50px);
  }

  &__greetings {
    transform: translateY(-4vw);
  }

  &__w1 {
    font-size: 4rem;
  }

  &__w2 {
    font-size: 2rem;
    color: #dd0000;
  }
  &__w3 {
    font-size: 2rem;
    color: #ffce00;
    margin-bottom: 1vh;
  }

  &__button {
    box-sizing: border-box;
    border: none;
    font-weight: 500;
    font-size: 20px;
    width: 12rem;
    height: 3rem;
    background: #e4d3ff;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1600px) {
  .home {
    background-image: url("../assets/top-bg-1500.svg");
  }
}

@media screen and (max-width: 1050px) {
  .home {
    background-image: url("../assets/top-bg-1000.svg");
    align-items: center;
    padding: 0;

    &__w1 {
      font-size: 6rem;
    }

    &__w2 {
      font-size: 3rem;
    }
    
    &__w3 {
      font-size: 3rem;
    }
  }
}
